<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Portfolio</title>
    </head>
    <body>
        <h1>{{portfolioTitle}}</h1>
        <p><a href="/">Web course</a></p>
    </body>
</html>